<VirtualHost *:80>
  ServerAlias *
  DocumentRoot /home/lsi/app2

  ErrorLog /home/lsi/app2/logs/error.log
  LogFormat "%h %l %u %t \"%r\" %>s %b" common
  CustomLog /home/lsi/app2/logs/access.log common
</VirtualHost>