%h1
  Edit Build: 
  +$params['pat']
=form_tag()
=fields_for('build', $params['build'])
%table
  %tr
    %th Pattern
    %td =text_field('pat')
  %tr
    %th Path
    %td =text_field('path')
  %tr
    %th Run Mode
    %td =select_field('run_mode', $run_modes)
  %tr
    %th Database
    %td
      -fields_for('database', $params['build']['database'])
      %table
        %tr
          %th Host
          %td =text_field('host')
        %tr
          %th Username
          %td =text_field('username')
        %tr
          %th Password
          %td =text_field('password')
        %tr
          %th Catalog
          %td =text_field('catalog')
      -end_fields_for()
  %tr
    %th HTTP Auth
    %td
      -fields_for('http_auth', $params['build']['http_auth'])
      %table
        %tr
          %th Username
          %td =text_field('username')
        %tr
          %th Password
          %td =text_field('password')
      -end_fields_for()
=submit_tag('Save')
=end_fields_for()
=end_form_tag()